/*commmon_classes*/
._preline{
    white-space: pre-line;
}
.center_any{
    margin: 0 auto;
}

.parallax,.parallax2,.parallax3{
    /* The image used */
    /*!* Set a specific height *!*/
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
.color_white{
    color: white;
}
.color_orange{
    color: orange;
}
._st_15{
    padding-top: 15px;
}
._st_30{
    padding-top: 30px;
}
._st_50{
    padding-top: 50px;
}
._st_70{
    padding-top: 70px;
}
._sb_15{
    padding-bottom: 15px;
}

._sb_30{
    padding-bottom: 30px;
}
._sb_50{
    padding-bottom: 50px;
}
._sb_70{
    padding-bottom: 70px;
}
@media only screen and (max-width: 600px) {
    ._fs_10{
        font-size: 10px;
    }
    ._fs_12{
        font-size: 13px;
    }
    ._fs_14{
        font-size: 14px;
    }
    ._fs_16{
        font-size: 16px;
    }
    ._fs_18{
        font-size: 18px;
    }
    ._fs_20{
        font-size: 20px;
    }
}

/*custome_header*/
.custom_header{
    background-image: url("../images/bg_2.jpeg");
    background-size: cover;
}
.custom_navbar{
    margin-top: 5%;
}
.custom_navbar_color {
    background-color: transparent;
    border: transparent;
}

.navbar-brand {
    padding: 5px 15px;
}

.nav > li > a {
    color: white;
    padding: 6px 20px;
    margin: 6px 0px;
}

.nav > li > a:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 5px;
}

.custom_slider_text {
    color: #FFF;
    white-space: pre-line;
    padding-top:5%;
    padding-bottom: 10%;
}

.navbar-toggle{
    background-color: white;
}
.navbar-toggle .icon-bar {
    background-color: #d9534f;
}

/*custome-service*/

.custom_service{
    padding:50px 0px;
}
.custom_service_row{
    padding:65px 0px;
}
.img-responsive{
    margin: 0 auto;
}
.custom_service_description{
    white-space: pre-line;
}
.custom_service_description_title{
    padding-top: 20px;
}
.parallax{
    background-image: url("../images/working_bg_3.jpg");
}
/*portfolio*/
.parallax2{
    background-image: url("../images/port_bg_1.jpg");
}
.parallax3{
    background-image: url("../images/con_bg_1.jpg");
}
.parallax4{
    background-image: url("../images/footer_bg_2.jpg");
}
.port_buttons a{
    color: black !important;
    background-color: orange ;
}
.port_buttons a:hover{
    background-color: white;
}
/*custom_footer*/
.custom-footer_buttons a{
    color: white;
    font-size: 20px;
}
.custom-footer_buttons a:hover{
    color: cornflowerblue;
    font-size: 20px;
    text-decoration: none;
}

/*collapse appearance*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}